<template>
  <div>
    <h1>Your Cart</h1>
    <div class="products">
      <div v-for="(product, id) in cart" :key="id">
        <h3>{{product.name}}</h3>
        <img :src="product.image" />
        <div>{{product.cost}}</div>
        <div>{{product.quantity}}</div>
        <div>{{product.totalValue}}</div>
        <button v-on:click="removeItemFromCart(product)">Remove from cart</button>
      </div>
<!--     <div>total cost:$ {{total}}</div> -->
    </div>
  </div>
</template>

<script>
export default {
  props: 
    ["cart"],

  methods: {
    removeItemFromCart(product) {
      this.$emit("removeItemFromCart", product);
    },
    calulateTotalPrice() {
      this.totalValue = 0;
      this.cart.forEach(product => {
        this.totalValue += parseFloat(product.cost.replace(",", ""));
      });
    }
       
  },

  
  
};
</script>

<style>
</style>

